<div class="container color-dark-blue">
    <div class="col">
      <p>Java EE (@Latest <b>10.0.0</b>)</p>
    </div>
    <div class="col">
      <p></p>
    </div>
  </div>
  <div class="container color-light-blue">
    <div class="col">
      <p class="sm">Java, édition entreprise, est une plateforme normalisée, destinée au développement de logiciels pour les entreprises et les serveurs d'application. </p>
      <p class="sm">La plateforme comporte toutes les interfaces de programmation de Java SE, ainsi que des interfaces de programmation destinées à créer des applications Web, envoyer des courriels, mettre en œuvre et utiliser des services Web, mettre en œuvre de la persistance et des transactions.</p>
    </div>
    <div class="col">
        <a class="twitter-timeline" data-height="300" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/java"></a> 
      </div>
  
  </div>
  <br/>

<div class="container color-dark-red">
  <div class="col">
    <p>Angular (@Latest <b>5.2.9</b>)</p>
  </div>
  <div class="col">
    <p></p>
  </div>
</div>
<div class="container color-light-red">
  <div class="col">
    <p class="sm">
      Angular est une plateforme qui simplifie la création d'applications web. 
      <p class="sm"> Il inclus des templates declaratifs, l'injection de dépendences, des outils end to end ainsi que les best practices permettant de faire face aux problématiques de développement.</p>
    <p class="sm">Il donne la possibilité aux développeurs de créer des applications compatible web et mobile.</p>
    <p class="sm"></p>
  </div>
  <div class="col">
    <a class="twitter-timeline" data-height="300" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/angular"></a> 
  </div>

</div>
<br/>
