@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import '~material-design-icons/iconfont/material-icons.css';

body {
    padding: 3em;
    font-family: 'Raleway', 'Arial';
}
ul {
    list-style-type:none;
    margin:0 300px 2em 300px;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    text-decoration:none;
}
.col {
    padding: .4em 1.3em;
}
.color-dark-grey {
    background: rgb(150, 150, 150);
}
.color-light-grey {
    background: rgb(216, 216, 216);
}
.color-dark-blue {
    background: #2885C4;
}
.color-light-blue {
    background: #57B3F1;
}

.color-dark-red {
    background: #B52E31;
}
.color-light-red {
    background: #E23237;
}

.container {
    display: grid;
    grid-template-columns: 50% auto;
}