<div class="container color-dark-grey">
    <div class="col">
      <p>Daniel Roina</p>
    </div>
    <div class="col">
      <p></p>
    </div>
  </div>
  <div class="container color-light-grey">
    <div class="col">
      <p class="sm">Hello, je m'appelle Daniel </p>
      <p class="sm">Développeur indépendant, je travaille avec mes clients principalement sur des missions longues</p>
      <p class="sm">J'aime le développement back-end et front-end</p>
      <a href="assets/CV-daniel-roina.docx">Mon CV au format word</a>
      <i class="material-icons">visibility</i>

    </div>
    <div class="col">
      </div>
  
  </div>